@import "tailwindcss";


/* Solution 2: Create a custom container class (recommended) */
@layer components {
  .my-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  @media (width >= 640px) {
    .my-container {
      max-width: 640px;
    }
  }
  
  @media (width >= 768px) {
    .my-container {
      max-width: 768px; /* Your custom width */
    }
  }
  
  @media (width >= 1024px) {
    .my-container {
      max-width: 1250px; /* Your custom width */
    }
  }
  
  @media (width >= 1280px) {
    .my-container {
      max-width: 1280px;
    }
  }
  
  @media (width >= 1536px) {
    .my-container {
      max-width: 1536px;
    }
  }

  /* blog page css */
.blog-section { margin-bottom: 1.75rem; line-height: 1.7; }
.blog-image-wrapper { margin: 1rem 0; text-align: center; }
.blog-image { max-width: 100%; border-radius: 12px; }
.cta-box { padding: 1rem; border-radius: 12px; background: #f5f7ff; }
.icon-list li, .service-list li { margin: .35rem 0; }

}